.galeria {
  display: grid;
}

.grid-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.galeria .foto {
  cursor: pointer;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 15px black;
  background-color: rgb(180, 56, 56);
  background-image: url("../iconos/heart.svg");
}

.galeria .foto:hover {
  box-shadow: 0px 0px 3px 2px black;
}

.p-3 {
  padding: 30px;
}

.heart {
  color: #43a047;
}

.foto {
  margin: 10px;
}